body, #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.row{
    margin-top:100px;
}

.timer{
    color:black;
}

.clock {
    margin-top:30px;
    margin-bottom:50px;
    margin-left:  210px;
    font-size: 4rem;
    line-height: 1;
    display: flex;
    align-items: center;
    font-family: 'Share Tech Mono', monospace;
    color:white;
    width:450px;
   
  }
  .timerstart{
    position:absolute;
    left:130;
    font-size: 0.9rem;
    display: inline-block;
    padding: 0.2em 0.2em 0.2em;
    color: white;
    border: double 4px white;
    background-color: transparent;
    cursor: pointer;
    align-items: left;
    width:100.49px;
    margin-right: 40px;
    z-index: 3;
  }
  .reset{
    position:absolute;
    left: 0;
    right: -220;
    margin: auto;
    font-size: 0.9rem;
    display: inline-block;
    padding: 0.2em 0.2em 0.2em;
    color: white;
    border: double 4px white;
    background-color: transparent;
    cursor: pointer;
    width:100.49px;
    z-index: 3;
  }
  .pomosettei{
      position:relative;
      margin:0 auto;
      width:600px;
      opacity: 0.8;
  }
  .article-pomo{
    margin-top:20px;
    display:flex;
    margin-left:100px;
 }
 .mainpomo{
     width:800px;
     margin-right:80px
 }
  .pomodorotimer{
      position:relative;
      margin: 0 auto;
      height:12rem;
      text-align: center;
      background-color: #3969c4;
      border: 1px solid #3c7cb1;
      box-shadow: 1px 1px 0 rgba(255, 255, 255, .4) inset,
                  0 0 4px rgba(0, 0, 0, .8) inset,
                  2px 2px 2px rgba(0, 0, 0, .4);
      color: #fff;
      z-index:-2;
  }
  .sheet{
    width:576.8px;
    margin:60 20 auto;
    z-index: 3;
  }
  .kihon{
    z-index:1;
  }
  .jissen{
    z-index:1;
  }
  .pomobrock1{
      width:600px;
      margin:40 auto
  }
  .pomobrock2{
    margin:20 auto
  }
  .topic{
      display: flex;
  }
  .pomobtn{
      
      width: 550px;
      display: flex;
      margin:auto;
  }
  #rectangle{
      position:absolute;
      left: -50;
      right: 0;
      margin: auto;
      text-align: center;
      width: 600px;
      height:250px;
      z-index:-1;
  }
  #sentaku{
      color:black
  }
  .sentaku{
      color:black;
      z-index: 10;
  }

  .shuutyuu{
    list-style: none;
    display: -webkit-inline-box;
  }
  .shuutyuu li{
      padding-left: 18px;
  }
  ul{
      margin-left:-32px;
  }
  .sentaku{
      position: absolute;
      top: 500px;
      width: 800px;
      height:500px;
      z-index: 11;
      background-color: white;
      border: 1px solid; /* 線の太さと可視化 */
      border-radius: 8px; /* 左上を角丸に */
    }

    #yajirusi{
        margin-bottom:20px;
    }

    .today{
        margin-top:200px;
        color:black;
    }
    .today p{
        text-align: center;
    }
    .messageblock{
        height:100px;
        background-color: white;
        z-index:1;
    }
    .messages{
        margin-top:80px;
    }

    .day_graph{
        display: inline;
        
    }
    .day_brock{
        text-align: center;
        margin-bottom:30px;
    }
    .video{
        margin:0 auto;
        width:100%;
        z-index:-10;
        position: relative;
    }
    /* 画面が小さいときは保留 */



    #gamen1{
        width:600px;
    }
    #gamen3{
        width:600px;
    }
    #haguruma{
        position: absolute;
        top: 10px;
        left: 500px;
        z-index: 5;
    }
    .settei{
        display: none;
        position:absolute;
        top:70px;
        left: 400px;
        width:300px;
        height:300px;
        background-color: coral;
        z-index: 5;
        border: 4px double #ddd;
    }
    .kyukei{
        z-index:1;
        position:absolute;
        left: 250;
        right: -100;
        margin: auto;
        position: relative;
        display: inline-block;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #FFF;
        background: #03A9F4;/*色*/
        border: solid 1px #0f9ada;/*線色*/
        border-radius: 4px;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
        text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    }
    .kyukeigamen{
        display:none;
        position: relative;
    }
    .kyukeiend{
        position:absolute;
        left: 200px;
        top:110px;
        width:150px;
        display: inline-block;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #FFF;
        background: #03A9F4;/*色*/
        border: solid 1px #0f9ada;/*線色*/
        border-radius: 4px;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
        text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    }
    .audio_btn{
        position:absolute;
        left: 400px;
        top:110px;
        width:150px;
        display: inline-block;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #FFF;
        background: #03A9F4;/*色*/
        border: solid 1px #0f9ada;/*線色*/
        border-radius: 4px;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
        text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    }
    .audio_del{
        
        position:absolute;
        left: 400px;
        top:110px;
        width:150px;
        display: inline-block;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #FFF;
        background: #03A9F4;/*色*/
        border: solid 1px #0f9ada;/*線色*/
        border-radius: 4px;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
        text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    }
    .list_action li{
        position: relative;
        list-style-type: none!important;/*ポチ消す*/
        padding: 0.5em 0.5em 0.5em 0.5em;
        margin-bottom: 3px;
        line-height: 1.5;
        background: #dbebf8;
        vertical-align: middle;
        color: #505050;
        border-radius: 15px 0px 0px 15px;/*左側の角丸く*/
    }
    .midasi{
        margin-top:20px;
        padding: 0.5rem 2rem;
        border-left: 4px double #000;
        }
    .if_settei{
        display: none;
    }
    #moshi{
        width:100px;
        margin-right:80px;
    }
    #tara{
        width:100px;
        margin-right:80px;
    }
    #ru2{
        width:100px;
        margin-right:10px;
    }
    /*ちょっと保留
    @media screen and (max-width: 1024px){

        .mainpomo{
            width:500px;
        }
    }
    */