{% load static %}
<div class="side_var">
    <div class='btnpomo'>
        <a href="{% url 'pomodoroapp:index' %}">ポモドーロタイマー</a>
    </div>
    <ul>
        <li><a href="{% url 'pomodoroapp:setumei' %}">アプリの説明</a></li>
        <li><a href="{% url 'pomodoroapp:technic' %}">ポモドーロテクニックの利点</a></li>
        <li><a href="{% url 'pomodoroapp:houshu' %}">報酬感覚プランニングとは？</a></li>
        <li><a href="{% url 'pomodoroapp:situmonaction' %}">質問型アクションとは？</a></li>
        <li><a href="{% url 'pomodoroapp:ifthen' %}">if-thenルールとは？</a></li>
    </ul>
    
</div>