{% extends 'base.html' %}
{% load static %}

{% block title %}ポモドーロタイマー＋あなたの集中力を見える化 | pomodoro_memory{% endblock %}

{% block header%}
<section class="contents">
    <h3>ポモドーロタイマー(未登録,実ログインの場合）</h3>
    <br>
    <p>　通常のポモドーロタイマーとして利用できます。</p>
    <p>作業時間が１５分で休憩時間が５分です。作業を４周すると２５分の長休憩に入ります。</p>
    <p>あなたがリラックスしながら少しでも集中できるように背景に水の動画を使用しています。（休憩時間になると透明度が少しあがります）</p>
    <br>
    <h3>ログイン済みの場合</h3>
    <br>
    <p>　本アプリはあなたの集中度を記録してグラフ化するためのアプリです。</p>
    <p>ログインすると、画面上部に集中度グラフという項目が追加されます。</p>
    <p>最初の１５分が終了してタイマーが0になったタイミングで以下のような集中度を記録する画面が表示されるようになります。</p>
    
    <br>
    <img id="gamen1" src="{% static 'img/pomodoro2.png' %}" alt="アプリ画面">
    <br>
    <br>
    <p>１から１０までの集中度を選択して送信ボタンをクリックすると「ただいまの集中度を記録しました」と画面に表示されます。</p>
    <p>画面上部の「集中度グラフ」をクリックすると記録した集中度および時間の推移が確認できます。（下記画面）</p>
    <br>
    <img id="gamen3" src="{% static 'img/pomodoro3.png' %}" alt="アプリ画面2">
    <br>
    <br>
    <p>どの時間にどれくらい集中できたかを日々確認することで作業効率を改善していきましょう。</p>

</section>



{% endblock %}

{% block contents %}

{% endblock %}