{% extends 'base.html' %}
{% load static %}

{% block title %}アプリ説明|最新の生産性を上げるテクニックをADHD男がアプリ化するサイト{% endblock %}

{% block header%}
<div class="article">
    <div class="left-brank"></div>
    <div>
        <section class="contents">
            <h3>アプリの説明</h3>
            　本アプリはパレオな男さんの「ヤバい集中力」、フランチェスコ・シリロさんの「ポモドーロテクニック」、
            <br>ダン・アリエリーさんの「if-thenルール」などを参考に集中力や生産性を上げるテクニックをすべて取り入れて
            <br><br>
            <b>集中力が絶望的にない(製作者のような人間）が少しでも生産性を向上させることを目的としたアプリです。</b>
            <br><br>
            <h3>ポモドーロタイマー(未登録,実ログインの場合）</h3>
            <br>
            <img id="pomogamen" src="{% static 'img/pomodorotimer 620.PNG' %}" width="80%" alt="アプリ画面">
            　<br>通常のポモドーロタイマーとして利用できます。<br>
            デフォルトの設定では作業時間が２５分で休憩時間が５分です。作業を４周すると２５分の長休憩に入ります。<br>
            <br>また、右上の設定アイコンをクリックすることで作業時間、休憩時間、長休憩をそれぞれ調整できます。
            <br>
            <br>
            さらに右下の青い「休憩」を押すと焚火の映像が流れて休憩することができます。
            <img src="{% static 'img/takibigamen.PNG' %}" width="70%">
            <br>
            <br>
            <h3>ログイン済みの場合</h3>
            <br>
            　本アプリはあなたの集中度を記録してグラフ化するためのアプリです。
            ログインすると、画面上部に集中度グラフという項目が追加されます。
            <p>最初の25分が終了してタイマーが0になったタイミングで以下のような集中度を記録する画面が表示されるようになります。
            
            <br>
            <img id="gamen1" src="{% static 'img/shuutyuudo.PNG' %}" alt="アプリ画面">
            <br>
            <br>
            １から１０までの集中度を選択して送信ボタンをクリックすると「ただいまの集中度を記録しました」と画面に表示されます。
            画面上部の「集中度グラフ」をクリックすると記録した集中度および時間の推移が確認できます。（下記画面）
            <br>
            <img id="gamen3" src="{% static 'img/pomodoro3.png' %}" alt="アプリ画面2">
            <br>
            <br>
            どの時間にどれくらい集中できたかを日々確認することで作業効率を改善していきましょう。

        </section>
    </div>
    <!-- サイドバーをここに挿入-->
    {% include 'mokuji.html' %}
</div>


{% endblock %}

{% block contents %}

{% endblock %}