{% extends 'base.html' %}
{% load static %}

{% block title %}ポモドーロテクニック|最新の生産性を上げるテクニックをADHD男がアプリ化するサイト{% endblock %}

{% block header%}

<div class="article">
    <div class="left-brank"></div>
    <div>
        <section class="contents">
            <h3>ポモドーロテクニックの利点</h3>
            <img src="{% static 'img_blog/egg-919299_640.jpg' %}" >
            <br>
            <br>
            　ポモドーロテクニックはイタリア人のフランチェスコ．シリロ氏が課題に集中して特定の時間内に目標を達成するためにトマト型のキッチンタイマーを使用したのが始まりです。
            <br>
            <br>
            　標準的なポモドーロテクニックのルール(一部）は以下の通りです。
            <br><br>
            <ul class="pomotech">
                <li>25分の作業と5分間の休憩の30分を１単位とする。（これを1ポモドーロという）</li>
                <li>４回のポモドーロごとに15分~30分の長い休憩に入る。</li>
                <li>ポモドーロを分割することはできない。(例えば12.5分の作業と2.5分の休憩を2回行って1ポモドーロとはできない）</li>
                <li>タイマーが鳴るまで(終わるまで）ポモドーロは続く</li>
                <li>長く中断されたポモドーロは無効となる</li>
            </ul>
            <br>
            彼は著書「どんな仕事も25分＋5分で結果が出る」でポモドーロテクニックの最大の目標を<br><br>
            <b>「自己観察を通じて仕事や勉強のプロセスを高めること」</b><br><br>
            というように定義しています。<br>
            ある作業が何ポモドーロ（25分間の作業+5分間の休憩を繰り返し）で終わるかを予想し、実際に何ポモドーロかかったかを記録していくことで誤差を知ることができます。
            そうすることで自分の予測の精度を高め、予定表を最適化し、これにより一日の成果を高めることができるわけです。
            <br><br>
            なお、先延ばしをしやすい性格の人はまず最初の25分間の作業を中断せずに終えることを最初の目標としてみましょう。
        </section>
    </div>
    <!-- サイドバーをここに挿入-->
    {% include 'mokuji.html' %}
</div>
{% endblock %}